.card-container {
    width: 87%;
    
    margin-left: 60px;

    border: 1px solid #d9dfe4;
    border-radius: 5px;
}

.card-banner-container, .card-banner {
    width: 100%;
}

.card-banner {
    border-radius: 5px 5px 0 0;
}

.card-content-container {
    padding: 15px;
}

.card-content-header, .card-content, .card-link {
    margin-bottom: 10px;
    font-size: .9rem;
}

.card-content-header {
    font-weight: bold;
}

.card-content {
    line-height: 20px;
}

.card-link {
    color: #8da1b9;
    text-decoration: none;
}